.graph-page {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.graph-config {
  flex: 1;
}

.graph-visualization {
  display: flex;
  flex: 10;
  height: 94vh;
  border: 2px solid @light-grey;
  margin-left: -2px;
  &.hidden-config {
    .vis-configuration-wrapper {
      display: none;
    }
  }
}

.graph-config__toggle {
  position: absolute;
  height: 16px;
  top: 8px;
  right: 8px;
  border: 1px solid @light-grey;
  padding: 5px;
  cursor: pointer;
}

.vis-configuration-wrapper {
  border-left: 2px solid @light-grey;
  width: 820px;
  overflow-y: scroll;
}

.graph-node__list {
  height: 94vh;
  flex: 1;
  overflow-y: scroll;
  border: 2px solid @light-grey;
}

.graph-node {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 3px;
  cursor: pointer;
  &.selected {
    background: black;
    color: white;
  }
}