.statistics-page {

  display: flex;
  flex-direction: row;

  .statistics-group {
    padding: 10px;
  }

  .statistics-header {
    text-align: center;
    padding: 10px;
  }

  .statistics-item__container {
    display: flex;
    flex-direction: column;
  }

  .statistics-item {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid @light-grey;
    border-bottom: none;
    &:last-child {
      border: 1px solid @light-grey;
    }
  }

  .statistics-item__value {
    padding-left: 20px;
    text-align: end;
  }
}