@import 'pages/statistics-page';
@import 'pages/items-page';
@import 'pages/websites-page';
@import 'pages/graph-page';
@import 'pages/comparison-page';
@import 'controls/item-grid';
@import 'controls/item-price-grid';
@import 'controls/nav-bar';
@import 'vars/_palette';
@import "~vis/dist/vis.css";

body {
  margin: 0;
  overflow: hidden;
}

.global-window {
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}