<!-- ko if: selectedItemPrices().length > 0 -->
    <div class="item-price-grid">
        <!-- ko foreach: { data: selectedItemPrices, as: 'itemPrice' } -->
        <div class="item-price-row">
            <div class="item-price__time-checked" data-bind="text: itemPrice.getDateTimeChecked()"></div>
            <div class="item-price__price" data-bind="text: itemPrice.price"></div>
            <div class="item-price__bar" data-bind="style: { width: itemPrice.getBarWidth($component.maxPrice()) + 'px' },
                css: {
                    'high-price': itemPrice.price === $component.maxPrice(),
                    'low-price': itemPrice.price === $component.minPrice()
                }
            "></div>
        </div>
        <!-- /ko -->
    </div>
<!-- /ko -->