.item-price-grid {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-left: 20px;
  align-items: flex-end;
}

.item-price-column {
  text-align: center;
}

.item-price__time-checked {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  color: #333;
  font-weight: bold;
}

.item-price__time-checked {
  display: flex;
  flex-direction: column;
}

.item-price__price {
  color: white;
  font-weight: bold;
  margin: -20px 0 10px 0;
}

.item-price__bar {
  background: darkorange;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 10px;
  border-radius: 7px 7px 0 0;
  &.high-price {
    background: darkred;
  }
  &.low-price {
    background: darkgreen;
  }
}