@dark-grey: #333;
@mid-grey: #555;
@mid-light-grey: #888;
@light-grey: #aaa;
@lighter-grey: #ddd;
@off-white: #eee;

.item-grid {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: scroll;
}

.item-header {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: @dark-grey;
}

.item-row:nth-child(even) {
  background-color: @light-grey;
}

.item-row:nth-child(odd) {
  background-color: @lighter-grey;
}

.item-row {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  &:hover {
    background: @mid-grey;
    cursor: pointer;
    color: white;
  }
  &.selected-item {
    background: darkorange;
    cursor: pointer;
    color: white;
  }
  .item-price {
    font-size: 20px;
  }
}

.item-field {
  padding: 10px;
  align-self: center;
  border: 1px solid @off-white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  .item-field;
  justify-content: end;
  flex: 1;
}

.item-price {
  .item-field;
  flex: 0.125;
  text-align: center;
}
