<div class="statistics-page">
    <div class="statistics-group">
        <div class="statistics-header">
            Web Crawler Statistics
        </div>
        <!-- ko if: crawlerStatistics -->
            <div class="statistics-item__container">
                <div class="statistics-item">
                    <div class="statistics-item__header">Discovered Websites</div>
                    <div class="statistics-item__value" data-bind="text: crawlerStatistics().numberOfWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Checked Websites</div>
                    <div class="statistics-item__value" data-bind="text: crawlerStatistics().numberOfCheckedWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Processed Websites</div>
                    <div class="statistics-item__value" data-bind="text: crawlerStatistics().numberOfProcessedWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Websites with Errors</div>
                    <div class="statistics-item__value" data-bind="text: crawlerStatistics().numberOfWebsitesWithErrors"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Duplicate Websites</div>
                    <div class="statistics-item__value" data-bind="text: crawlerStatistics().numberOfDuplicateWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Links between Websites</div>
                    <div class="statistics-item__value" data-bind="text: crawlerStatistics().numberOfLinks"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Pages</div>
                    <div class="statistics-item__value" data-bind="text: crawlerStatistics().numberOfPages"></div>
                </div>
            </div>
        <!-- /ko -->
    </div>
    <div class="statistics-group">
        <div class="statistics-header">
            Websites by Type
        </div>
        <!-- ko if: websiteStatistics -->
            <div class="statistics-item__container">
                <div class="statistics-item">
                    <div class="statistics-item__header">Domestic Websites</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfDomesticWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Foreign Websites</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfForeignWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Redirects to Foreign Websites</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfRedirectToForeignWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Indexing Services</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfIndexingServiceWebsites"></div>
                </div>
            </div>
        <!-- /ko -->
    </div>
    <div class="statistics-group">
        <div class="statistics-header">
            Websites by Content
        </div>
        <!-- ko if: websiteStatistics -->
            <div class="statistics-item__container">
                <div class="statistics-item">
                    <div class="statistics-item__header">News Websites</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfNewsWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Social Media Websites</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfSocialMediaWebsites"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Uncategorized Websites</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfUncategorizedWebsites"></div>
                </div>
            </div>
        <!-- /ko -->
    </div>
    <div class="statistics-group">
        <div class="statistics-header">
            Domains & Subdomains
        </div>
        <!-- ko if: websiteStatistics -->
            <div class="statistics-item__container">
                <div class="statistics-item">
                    <div class="statistics-item__header">Top Domains</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfTopDomains"></div>
                </div>
                <div class="statistics-item">
                    <div class="statistics-item__header">Subdomains</div>
                    <div class="statistics-item__value" data-bind="text: websiteStatistics().numberOfSubDomains"></div>
                </div>
            </div>
        <!-- /ko -->
    </div>
</div>