<meta name="viewport" content="width=device-width, initial-scale=1">
<!doctype html>
<html>
    <head>
        <title>NewsCompare</title>
    </head>
    <body>
        <div class="global-window" data-bind="component: 'root'"></div>
    </body>
</html>
