<!doctype html>
<html>
    <head>
        <title>Thesis</title>
    </head>
    <body>
        <script src="/main.js"></script>
        <div class="global-window" data-bind="component: 'root'"></div>
    </body>
</html>
